<div class="main-container">
    <app-topbar></app-topbar>

  <!-- Content wrapper scroll start -->
  <div class="content-wrapper-scroll">
      <!-- Content wrapper start -->
      <div class="content-wrapper">
  
          <!-- Row start -->
          <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  
                  <!-- Card start -->
                  <div class="card">
                      <div class="card-body">
                          <form class="form-horizontal" [formGroup]= "newAddContactForm" (ngSubmit)="onSubmit()">
                              <!-- Row start -->
                              <div class="row gutters">
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                                      <div class="form-section-header">General</div>
                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                      

                                    <div class="field-wrapper">
                                        <div class="input-group">
                                        
                                            <input [ngClass]="{'is-invalid': f['name'].touched && f['name'].invalid}" value="{{newContact?ContactListById.name:''}}"  type="text"  class="form-control"  formControlName="name" >
  
                                            <span class="input-group-text">
                                                <i class="icon-user1"></i>
                                            </span>
                                        </div>
                                        <p *ngIf="f['name'].touched && f['name'].invalid" class="small text-danger font-italic">*Name is required.</p>
                                        <div  class="field-placeholder">Name <span class="text-danger">*</span></div>
                                    </div>

                                </div>

                                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                      

                                      <div class="field-wrapper">
                                          <div class="input-group">
                                          
                                              <input [ngClass]="{'is-invalid': f['phone'].touched && f['phone'].invalid}" value="{{newContact?ContactListById.phone:''}}"  type="text"  name="phone" class="form-control"  formControlName="phone" >
    
                                              <span class="input-group-text">
                                                  <i class="icon-user1"></i>
                                              </span>
                                          </div>
                                          <p *ngIf="f['phone'].touched && f['phone'].invalid" class="small text-danger font-italic">*Phone is required.</p>
                                          <div  class="field-placeholder">Phone <span class="text-danger">*</span></div>
                                      </div>

                                  </div>
                                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                      
                                    <div class="field-wrapper">
                                        <div class="input-group">
                                          
                                            <input [ngClass]="{'is-invalid': f['address'].touched && f['address'].invalid}" value="{{newContact?ContactListById.address:''}}"  class="form-control" type="text" name="address" formControlName="address">
                                            <span class="input-group-text">
                                                <i class="icon-user1"></i>
                                            </span>
                                        </div>
                                        <p *ngIf="f['address'].touched && f['address'].invalid" class="small text-danger font-italic">*Adress  is required.</p>
                                        <div class="field-placeholder">Address <span class="text-danger">*</span></div>
                                    </div>

                                </div>
                                <div class="clear"></div>
                                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-right">
                                      <button class="btn btn-primary" [routerLink]="['/contacts', selectedLeadId]">Cancel</button>
                                      <button class="btn btn-primary" [disabled]="newAddContactForm.invalid">Save</button>
                                  </div>
                              </div>
                          <!-- Row end -->
                          </form>
                      </div>
                  </div>
                  <!-- Card end --> 
              </div>
          
          <!-- Row end -->
      </div>
      <!-- Content wrapper end -->
  
      <app-footer></app-footer>

  </div>
  <!-- Content wrapper scroll end -->
  </div>