<div class="main-container">
    <app-topbar></app-topbar>


  <!-- Content wrapper scroll start -->
  <div class="content-wrapper-scroll">
      <!-- Content wrapper start -->
      <div class="content-wrapper">
  
        
                        
                        <!-- Row start -->
                        <div class="row gutters">
							<div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <!-- Card start -->
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title">New Post</div>
                                            </div>
                                            <div class="card-body">

                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                                    <!-- Field wrapper start -->
                                                    <div class="field-wrapper">
                                                        <div class="input-group">
                                                            <input class="form-control" type="text" name="campaign_name" formControlName="campaign_name">
                                                            <span class="input-group-text">
                                                                <i class="icon-user1"></i>
                                                            </span>
                                                        </div>
                                                        
                                                        <div class="field-placeholder">Post Name</div>
                                                    </div>
                                                    <!-- Field wrapper end -->
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                                    <!-- Field wrapper start -->
                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                                        <div class="field-wrapper">
                                                            <select class="select-single js-states" title="Select Product Category" data-live-search="true">
                                                                <option>Agency Name</option>
                                                                <option>cl</option>
                                                              
                                                            </select>
                                                            <div class="field-placeholder">Creating For</div>
                                                        </div>
                                                    </div>
                                                    <!-- Field wrapper end -->
                                                </div>
                                                <div class="create-offer-container">
                                                    <textarea class="form-control" rows="3">Hello,</textarea>
                                                    <div class="share-thoughts-footer">
                                                        <div class="share-icons">
                                                            <a href="#">
                                                                <i class="icon-map2"></i>
                                                            </a>
                                                            <a href="#">
                                                                <i class="icon-link"></i>
                                                            </a>
                                                            <a href="#">
                                                                <i class="icon-camera2"></i>
                                                            </a>
                                                            <a href="#">
                                                                <i class="icon-users"></i>
                                                            </a>
                                                        </div>
                                                        <button class="btn btn-info btn-sm">Post</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Card end -->
                                       
                                    </div>
                                    
                                  
                                </div>
                                <!-- Row end -->
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                               <!-- Card start -->
                               <div class="card h-320">
                                <div class="card-header">
                                    <div class="card-title">Peview</div>
                                </div>
                                <div class="card-body">
                                    <div class="doc-block">
                                        <div id="passwordHelpBlock2" class="form-text">
                                            Social networks regularly make updates to formatting, so your post may appear slightly different when published.
                                          </div>
                                        <div class="doc-title"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Card end -->                        
                            </div>
						</div>
                        <!-- Row end -->

      </div>
      <!-- Content wrapper end -->
  
      <app-footer></app-footer>

  </div>
  <!-- Content wrapper scroll end -->
  </div>