<div class="main-container">
  <app-topbar></app-topbar>

  <!-- Content wrapper scroll start -->
  <div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
      <!-- Row start -->
      <div class="row gutters"></div>
      <!-- Row end -->

      <!-- Row start -->
      <div class="row gutters">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
          <!-- Card start -->
          <div class="card">
            <div class="card-header">
              <div class="card-title">
                <a > Email Marketing</a>
                
               </div>
            </div>
            <div class="card-body">
              <form
                class="form-horizontal"
                [formGroup]="newAddLeadForm"
                (ngSubmit)="onSubmit()"
              >
                <!-- Row start -->
                <div  style="display:block" class="row gutters gutter_row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                    <!-- Field wrapper start -->
                    <div class="field-wrapper">
                      <div class="input-group">
                        <input value="{{updateList?.name}}"
                          [ngClass]="{
                            'is-invalid': f['name'].touched && f['name'].invalid
                          }"
                          class="form-control"
                          type="text"
                          name="name"
                          formControlName="name"
                        />
                        <!-- <span class="input-group-text">
                        <i class="icon-user1"></i>
                      </span> -->
                      </div>
                      <p
                        *ngIf="f['name'].touched && f['name'].invalid"
                        class="small text-danger font-italic"
                      >
                        *name is required.
                      </p>

                      <div class="field-placeholder">Broadcast Name</div>
                    </div>
                    <!-- Field wrapper end -->
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="field-wrapper">
                      <div class="input-group">
                        <input 
                          [ngClass]="{
                            'is-invalid':
                              f['scheduled'].touched && f['scheduled'].invalid
                          }"
                          formControlName="scheduled"
                          type="date"
                          value=""
                          class="form-control"
                        />
                      </div>
                      <p
                        *ngIf="f['scheduled'].touched && f['scheduled'].invalid"
                        class="small text-danger font-italic"
                      >
                        *date is required.
                      </p>
                      <div class="field-placeholder">Scheduled</div>
                    </div>
                  </div>
                  <!-- Field wrapper start -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                    <div class="field-wrapper">
                      <!-- <select
                      class="select-single js-states"
                      title="Select Product Category"
                      data-live-search="true"
                    >
                      <option>Post</option>
                      <option>Reel</option>
                      <option>Story</option>
                    </select> -->
                      <input 
                        formControlName="from_details"
                        [ngClass]="{
                          'is-invalid':
                            f['from_details'].touched &&
                            f['from_details'].invalid
                        }"
                        type="number"
                      />
                      <p
                        *ngIf="
                          f['from_details'].touched && f['from_details'].invalid
                        "
                        class="small text-danger font-italic"
                      >
                        *field is required.
                      </p>
                      <div class="field-placeholder">From</div>
                    </div>
                  </div>

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div style="background: transparent" class="field-wrapper">
                      <select value="{{updateList?.type}}"
                        (change)="typeSelect($event)"
                        [ngClass]="{
                          'is-invalid': f['type'].touched && f['type'].invalid
                        }"
                        class="select-single js-states"
                        title="Select Product Category"
                        data-live-search="true"
                        formControlName="type"
                        type="text"
                      >
                        <option value="Sms">Sms</option>
                        <option value="whatsapp">whatsapp</option>
                        <option value="Email">email</option>
                      </select>
                      <p
                        *ngIf="f['type'].touched && f['type'].invalid"
                        class="small text-danger font-italic"
                      >
                        *type is required.
                      </p>
                      <div class="field-placeholder">Type</div>
                    </div>
                  </div>
                  <!-- Field wrapper end -->
                  <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                  <div class="field-wrapper">
                    <select
                      class="select-single js-states"
                      title="Select Product Category"
                      data-live-search="true"
                    >
                      <option>Agency Name</option>
                      <option>Client</option>
                    </select>
                    <div class="field-placeholder">Creating For</div>
                  </div>

                </div> -->
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div class="field-wrapper">
                      <select value="{{updateList?.status}}"
                        (change)="statuss($event)"
                        [ngClass]="{
                          'is-invalid':
                            f['status'].touched && f['status'].invalid
                        }"
                        class="select-single js-states"
                        title="Select Product Category"
                        data-live-search="true"
                        formControlName="status"
                      >
                        <option value="draft">draft</option>
                        <option value="sheduled">Scheduled</option>
                        <option value="inprogress">inprogress</option>
                        <option value="completed">completed</option>
                      </select>
                      <p
                        *ngIf="f['status'].touched && f['status'].invalid"
                        class="small text-danger font-italic"
                      >
                        *Status is required.
                      </p>
                      <div class="field-placeholder">Status</div>
                    </div>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="field-wrapper">
                      <textarea value="{{updateList?.subject}}"
                        class="form-control"
                        rows="2"
                        [ngClass]="{
                          'is-invalid':
                            f['subject'].touched && f['subject'].invalid
                        }"
                        formControlName="subject"
                      ></textarea>
                      <p
                        *ngIf="f['subject'].touched && f['subject'].invalid"
                        class="small text-danger font-italic"
                      >
                        *Subject is required.
                      </p>
                      <div class="field-placeholder">
                        Subject <span class="text-danger">*</span>
                      </div>
                    </div>
                  </div>
                  <!-- <div
                    class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 tag-selector"
                  >
                    <div class="field-wrapper">
                      <div class="input-group">
                        <ng-select
                          [items]="groupList"
                          bindLabel="name"
                          bindValue="id"
                          [multiple]="true"
                          class="select"
                          (change)="selectGroup($event)"

                          formControlName="group_id"
                          [(ngModel)]="selectedGroup"
                          [ngClass]="{
                            'is-invalid':
                              f['group_id'].touched && f['group_id'].invalid
                          }"
                        >
                        </ng-select>
                        <p
                          *ngIf="f['group_id'].touched && f['group_id'].invalid"
                          class="small text-danger font-italic"
                        >
                          *Audience is required.
                        </p>
                        <div class="field-placeholder">Audience</div>
                      </div>
                    </div>
                  
                  </div> -->

                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                    <div style="background: transparent" class="field-wrapper">
                      <select value="{{updateList?.group_id}}"
                      (change)="selectGroup($event)"
                      [ngClass]="{
                          'is-invalid': f['group_id'].touched && f['group_id'].invalid
                        }"
                        class="select-single js-states"
                        title="Select Product Category"
                        data-live-search="true"
                        formControlName="group_id"
                        type="text"
                      >
                        <option value={{items.id}} *ngFor="let items of groupList">{{items.name}}</option>
                      </select>
                      <p
                        *ngIf="f['group_id'].touched && f['group_id'].invalid"
                        class="small text-danger font-italic"
                      >
                        *type is required.
                      </p>
                      <div class="field-placeholder">Audience</div>
                    </div>
                  </div>

                  <!-- Field wrapper start -->
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="field-wrapper">
                      <!-- <button class="btn btn-primary " (click)="loginWithFacebook()">  <span class="icon">
                                  <i class="icon-facebook"></i> Connect to Facebook  
                              </span></button> -->
                    </div>
                  </div>

                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- Field wrapper start -->
                    <div class="field-wrapper">
                      <textarea value="{{updateList?.body}}"
                        formControlName="messageContent"
                        [(ngModel)]="messagepreview"
                        class="form-control"
                        rows="2"
                        [ngClass]="{
                          'is-invalid':
                            f['messageContent'].touched &&
                            f['messageContent'].invalid
                        }"
                      ></textarea>
                      <p
                        *ngIf="
                          f['messageContent'].touched &&
                          f['messageContent'].invalid
                        "
                        class="small text-danger font-italic"
                      >
                        *Message is required.
                      </p>
                      <div class="field-placeholder">
                        Message <span class="text-danger">*</span>
                      </div>
                      <div class="form-text">
                        Please enter a small description.
                      </div>
                    </div>
                    <!-- Field wrapper end -->
                  </div>

                  <div class="btn_submit col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <button routerLink="/list-text" class="btn btn-outline-secondary">Cancel</button>

                    <button  class="btn btn-primary">Send</button>
                  </div>
                </div>
              </form>

              <!-- Row end -->
            </div>
          </div>
          <!-- Card end -->
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <!-- Card start -->
          <div class="card h-320">
            <div class="card-header">
              <div class="card-title">Peview</div>
            </div>
            <div class="card-body">
              <div class="doc-block">
                <div id="passwordHelpBlock2" class="form-text">
                  {{ messagepreview }}
                </div>
                <div class="doc-title"></div>
              </div>
            </div>
          </div>
          <!-- Card end -->
        </div>
      </div>
      <!-- Row end -->
    </div>
    <!-- Content wrapper end -->

    <app-footer></app-footer>
  </div>
  <!-- Content wrapper scroll end -->
</div>

