<div class="main-container">
    <app-topbar></app-topbar>

    <!-- Content wrapper scroll start -->
    <div class="content-wrapper-scroll">
        <!-- Content wrapper start -->
        <div class="content-wrapper">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                    <!-- Card start -->
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal" [formGroup]="newAppointmentForm" (ngSubmit)="onSubmit()">
                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                                        <div class="form-section-header">New Appointment</div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <!-- field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input
                                                    [ngClass]="{'is-invalid': f['subject'].touched && f['subject'].invalid}"
                                                    type="text" class="form-control" formControlName="subject"
                                                    value="{{appointmentListById.subject}}">
                                            </div>
                                            <p *ngIf="f['subject'].touched && f['subject'].invalid"
                                                class="small text-danger font-italic">*Subject is required.</p>
                                            <div class="field-placeholder">Subject <span class="text-danger">*</span>
                                            </div>
                                        </div>
                                        <!-- field wrapper end -->
                                    </div>

                                    <div class="clear"></div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 tag-selector">
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <ng-select [items]="userDropdownList"
                                                bindLabel="name"
                                                bindValue="user_id"
                                                [multiple]="true"
                                                placeholder="Select Users"
                                                (change)="selectUser($event)"
                                                class="select"
                                                formControlName="user_id"
                                                [(ngModel)]="selectedUsers"
                                                >
                                            </ng-select>
                                            <div class="field-placeholder">Users<span class="text-danger">*</span></div>
                                            </div></div>
                                       
                                        <p *ngIf="f['user_id'].touched && f['user_id'].invalid"
                                            class="small text-danger font-italic">*Agency Participant is required.</p>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 tag-selector">
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <ng-select [items]="leadDropdownList"
                                                bindLabel="name"
                                                bindValue="lead_id"
                                                [multiple]="true"
                                                placeholder="Select Leads"
                                                (change)="selectLead($event)"
                                                class="select"
                                                formControlName="lead_id"
                                                [(ngModel)]="selectedLeads"
                                                >
                                            </ng-select>
                                            <div class="field-placeholder">Leads<span class="text-danger">*</span></div>
                                            </div></div>
                                       
                                        <p *ngIf="f['lead_id'].touched && f['lead_id'].invalid"
                                            class="small text-danger font-italic">*Lead Participant is required.</p>
                                    </div>

                                    <div class="clear"></div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <!-- field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input
                                                    [ngClass]="{'is-invalid': f['Regarding'].touched && f['Regarding'].invalid}"
                                                    type="text" class="form-control" formControlName="Regarding"
                                                    value="{{appointmentListById.Regarding}}">
                                            </div>

                                            <div class="field-placeholder">Regarding
                                            </div>
                                        </div>
                                        <!-- field wrapper end -->
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <!-- field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input
                                                    [ngClass]="{'is-invalid': f['meet_link'].touched && f['meet_link'].invalid}"
                                                    type="text" class="form-control" formControlName="meet_link"
                                                    value="{{appointmentListById.meet_link}}">
                                            </div>
                                            <p *ngIf="f['meet_link'].touched && f['meet_link'].invalid"
                                                class="small text-danger font-italic">*Meet Link is required.</p>
                                            <div class="field-placeholder">Meet Link <span class="text-danger">*</span>
                                            </div>
                                        </div>
                                        <!-- field wrapper end -->
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input type="date" name="date" class="form-control datepicker"
                                                    formControlName="date"
                                                    value="{{date}}"
                                                    min="{{currentDate}}"
                                                    [ngClass]="{'is-invalid':f['date'].touched && f['date'].invalid}">
                                            </div>
                                            <p *ngIf="f['date'].touched && f['date'].invalid"
                                                class="small text-danger font-italic">
                                                *Date is required
                                            </p>
                                            <div class="field-placeholder">Date<span class="text-danger">*</span></div>
                                        </div>
                                    </div>


                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <!-- field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input
                                                    [ngClass]="{'is-invalid': f['time'].touched && f['time'].invalid}"
                                                    type="time" class="form-control" formControlName="time"
                                                    value="{{appointmentListById.time}}">
                                            </div>
                                            <p *ngIf="f['time'].touched && f['time'].invalid"
                                                class="small text-danger font-italic">*Time is required.</p>
                                            <div class="field-placeholder">Time <span class="text-danger">*</span></div>
                                        </div>
                                        <!-- field wrapper end -->
                                    </div>


                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <!-- field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input
                                                    [ngClass]="{'is-invalid': f['Location'].touched && f['Location'].invalid}"
                                                    type="text" class="form-control" formControlName="Location"
                                                    value="{{appointmentListById.Location}}">
                                            </div>
                                            <p *ngIf="f['Location'].touched && f['Location'].invalid"
                                                class="small text-danger font-italic">*Location is required.</p>
                                            <div class="field-placeholder">Location <span class="text-danger">*</span>
                                            </div>
                                        </div>
                                        <!-- field wrapper end -->
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <!-- field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input type="text" class="form-control" formControlName="comment"
                                                    value="{{appointmentListById.comment}}">
                                            </div>
                                            <div class="field-placeholder">Comment </div>
                                        </div>
                                        <!-- field wrapper end -->
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="display:none">
                                        <!-- field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input
                                                    [ngClass]="{'is-invalid': f['status'].touched && f['status'].invalid}"
                                                    type="text" class="form-control" formControlName="status"
                                                    value="{{appointmentListById.status}}">
                                            </div>
                                            <p *ngIf="f['status'].touched && f['status'].invalid"
                                                class="small text-danger font-italic">*Status is required.</p>
                                            <div class="field-placeholder">Status <span class="text-danger">*</span>
                                            </div>
                                        </div>
                                        <!-- field wrapper end -->
                                    </div>

                                    
                                  


                                    <div class="clear"></div>

                            
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 float-right">
                                        <button class="btn btn-primary" routerLink="/list-appointments">Cancel</button>
                                        <button class="btn btn-primary"
                                            [disabled]="newAppointmentForm.invalid">Save</button>
                                        <!-- <button class="btn btn-primary">Save</button> -->
                                    </div>
                                </div>
                                <!-- Row end -->
                            </form>
                        </div>
                    </div>
                    <!-- Card end -->
                </div>

                <!-- Row end -->
            </div>
            <!-- Content wrapper end -->

            <app-footer></app-footer>

        </div>
        <!-- Content wrapper scroll end -->
    </div>