	<!-- *************
				************ Main container start *************
			************* -->
			<div class="main-container">

				<app-topbar></app-topbar>


				<!-- Content wrapper scroll start -->
				<div class="content-wrapper-scroll">

					<!-- Content wrapper start -->
					<div class="content-wrapper">

					<!-- Row start -->
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <!-- Card start -->
                            <div class="card">
                                <div class="card-header-lg">
                                    <h4>Campaign Streams</h4>
                                    <div class="d-flex justify-content-end">
                                        <div class="custom-btn-group">
                                            <button class="btn btn-primary" type="button"  routerLink="/add-campaigns">Create Campaigns</button>
                                            <button class="btn btn-warning" type="button" routerLink="/create-contents">Create Campaign Contents</button>
                                        </div>
                                    </div>
                                 
                                </div>
                                <div class="card-body">
 <!-- Row start -->
 <div class="row gutters">
    <div class="col-xl-4">
        <!-- Card start -->
        <div class="card">
            <div class="card-header">
                <div class="card-title">Facebook</div>
            </div>
            <div class="card-body">
                <div class="customScroll300">

                    <!-- Note - Below is empty div - Place your content below... if content height is more than 300px automatically scrollbar will enable. -->
                    <div style="height: 900px;"></div>
                </div>
            </div>
        </div>
        <!-- Card end -->
    </div>
    <div class="col-xl-4">
        <!-- Card start -->
        <div class="card">
            <div class="card-header">
                <div class="card-title">Instagram</div>
            </div>
            <div class="card-body">
                <div class="customScroll300">

                    <!-- Note - Below is empty div - Place your content below... if content height is more than 300px automatically scrollbar will enable. -->
                    <div style="height: 900px;"></div>
                </div>
            </div>
        </div>
        <!-- Card end -->
    </div>
    <div class="col-xl-4">
        <!-- Card start -->
        <div class="card">
            <div class="card-header">
                <div class="card-title">Google</div>
            </div>
            <div class="card-body">
                <div class="customScroll300">

                    <!-- Note - Below is empty div - Place your content below... if content height is more than 300px automatically scrollbar will enable. -->
                    <div style="height: 900px;"></div>
                </div>
            </div>
        </div>
        <!-- Card end -->
    </div>
</div>
<!-- Row end -->
                                    <!-- Row start -->
                                    <div class="row gutters">

                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="doc-block">
                                               
                                                <div class="doc-title">Campaign 1</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="doc-block">
                                               
                                                <div class="doc-title">Campaign 2</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                                            <div class="doc-block">
                                               
                                                <div class="doc-title">Campaign 3</div>
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <!-- Row end -->

                                </div>
                            </div>
                            <!-- Card end -->

                        </div>
                    </div>
                    <!-- Row end -->

					</div>
					<!-- Content wrapper end -->

					<app-footer></app-footer>


				</div>
				<!-- Content wrapper scroll end -->

			</div>
			<!-- *************
				************ Main container end *************
			************* -->

