<div class="main-container">
    <app-topbar></app-topbar>


  <!-- Content wrapper scroll start -->
  <div class="content-wrapper-scroll">
      <!-- Content wrapper start -->
      <div class="content-wrapper">
  	    <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

          

            </div>
        </div>
        <!-- Row end -->
        <form class="form-horizontal" [formGroup]= "newSmContentsForm" (ngSubmit)="onSubmit()">

                        
                <!-- Row start -->
                <div class="row gutters">

                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

                        <!-- Card start -->
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">New Post</div>
                            </div>
                            <div class="card-body">
                            
                            <!-- Row start -->
                            <div class="row gutters">
                            
                                
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                    <!-- Field wrapper start -->
                                    <div class="field-wrapper">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="activity_title" [ngClass]="{'is-invalid': f['activity_title'].touched && f['activity_title'].invalid}" formControlName="activity_title">
                                            <span class="input-group-text">
                                                <i class="icon-user1"></i>
                                            </span>
                                        </div>
                                        
                                        <div class="field-placeholder">Post Name<span class="text-danger">*</span></div>
                                    </div>
                                    <!-- Field wrapper end -->
                                </div>
                                <!-- Field wrapper start -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                    <div class="field-wrapper">
                                        <select name="post_type"
                                        (change)="selectPost($event)"  formControlName="post_type" [ngClass]="{'is-invalid': f['post_type'].touched && f['post_type'].invalid}">
                                            <!-- <option  value=1>Post</option>
                                            <option  value=2>Reel</option>
                                            <option  value=3>Story</option>  -->
                                            <option value="{{post.id}}"  *ngFor="let post of post_data">{{post.type}}</option>
                                        </select>
                                        <div class="field-placeholder">Publish as<span class="text-danger">*</span></div>
                                    </div>
                                </div>
                            
                            </div>
                            <!-- Row end -->
                            <!-- Row start -->
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                                    <div class="form-section-header">Socialmedia Login</div>
                                </div>
                                <!-- Field wrapper start -->
                                <!-- Field wrapper end -->

                                <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                    <div class="field-wrapper">
                                        <button class="btn btn-primary "> <span class="icon">
                                            <i class="icon-instagram-with-circle"></i> Show Instagram </span>
                                        </button>
                                    </div>
                                </div> -->
                                    <!-- Field wrapper end -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                        <!-- Field wrapper start -->
                                            <div class="field-wrapper">
                                                <select class="form-control"  #ownership (change)="onSelected(ownership.value)" name="ownership" >
                                                    <option value="">Select</option>
                                                    <option value="agency">Agency</option>
                                                    <option value="client">Client</option>
                                                
                                                </select>
                                                <div class="field-placeholder">Creating For</div>
                                            </div>
                                        
                                        <!-- Field wrapper end -->
                                    </div>
                                        <!-- Field wrapper start -->
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                        <div class="field-wrapper">
                                            <select  class="form-control" name="page"   #page (change)="pageInfo(page.value)">
                                                <option value="">Select</option>
                                                <option value="{{list.index}}"  *ngFor="let list of listPage" >{{list.global_brand_page_name}}</option>

                                            </select>
                                            <div class="field-placeholder">Select Profile </div>
                                        </div>
                                
                                    </div>  
                                             <!-- Field wrapper start -->
                                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                                <div class="field-wrapper">
                                                    <select class="form-control"   name="instaPage" #instaPage (change)="instaPageInfo(instaPage.value)">
                                                        <option value="">Select</option>

                                                        <option value="{{list.index}}"  *ngFor="let list of listInstaPage" >{{list.username}}</option>
                                                    </select>
                                                    <div class="field-placeholder">Select Instagram Profiles </div>
                                                </div>
                                        
                                            </div>
                                   
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-4 col-12">
                                            <div class="field-wrapper">
                                                <input type="datetime-local" id="schedule_date" name="schedule_date" #sdate (change)="scheduleDate(sdate.value)">
                                                <div class="field-placeholder">Schedule for (choose date & time)</div>
                                            </div>
                                        
                                            </div>  
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="card text-center">
									<div class="card-body">
										<h5 class="mb-3">What's on your mind? </h5>
										
                                        <div class="field-wrapper">
                                            <textarea class="form-control" rows="4" id ="content" name="content"  formGroupName="social_media_content" #content (change)="contentDescription(content.value)"></textarea>
                                            <div class="field-placeholder"> Type your content here..<span class="text-danger">*</span>   </div>
                                        </div>
									</div>
									<div class="card-footer text-muted">
                                        
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="dropzone">
                                            <ngx-dropzone (change)="onSelect($event)">
                                                <ngx-dropzone-label><b>Add Photos/Videos </b>  <br> or Drag & Drop</ngx-dropzone-label>
                                                <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]="f">
                                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                                </ngx-dropzone-preview>
                                            </ngx-dropzone>
                                        </div>
									</div>
								  </div>
							</div>
                               
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <button type="button" class="btn btn-danger"routerLink="/organicpost">CANCEL</button>
                                    <button type="submit" class="btn btn-primary" [disabled]="newSmContentsForm.invalid">SUBMIT</button>
                                    <!-- <button type="button" (click)="signOut()" class="btn btn-primary">Sign Out</button> -->

                                </div>
                            

                        </div>
                    </div>
                    <!-- Card end -->
        
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                                    <!-- Card start -->
                                    <div class="card h-320">
                                        <div class="card-header">
                                            <div class="card-title">Peview</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="custom-tabs-container">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link active" id="first-tab" data-bs-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true"><button type="button" class="btn btn-primary">
                                                            Facebook <span class="badge rounded-pill"><i class="icon-facebook"></i></span>
                                                        </button></a>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="second-tab" data-bs-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false"><button type="button" class="btn btn-primary">
                                                            INSTAGRAM <span class="badge rounded-pill"><i class="icon-instagram"></i></span></button></a>
                                                    </li>
                                                    <!-- <li class="nav-item" role="presentation">
                                                        <a class="nav-link" id="third-tab" data-bs-toggle="tab" href="#third" role="tab" aria-controls="third" aria-selected="false">Third Tab</a>
                                                    </li> -->
                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade show active" id="first" role="tabpanel">

                                                        <p class="text-muter">
                                                        </p>

                                                    </div>
                                                    <div class="tab-pane fade" id="second" role="tabpanel">
                                                        
                                                        <p class="text-muter"></p>

                                                    </div>
                                                    <!-- <div class="tab-pane fade" id="third" role="tabpanel">
                                                        
                                                        <p class="text-muter">User experience (UX) design is the process design teams use to create products that provide meaningful and relevant experiences to users. This involves the design of the entire process of acquiring and integrating the product, including aspects of branding, design, usability and function.</p>

                                                    </div> -->
                                                
                                                </div>
                                            </div>
                                            <div class="doc-block">
                                                <div id="passwordHelpBlock2" class="form-text">
                                                    Social networks regularly make updates to formatting, so your post may appear slightly different when published.
                                                </div>
                                                <div class="doc-title"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card end -->    
                                    
                                    
                                    </div>
                                </div>
                                <!-- Row end -->
        </form>

      </div>
      <!-- Content wrapper end -->
  
      <app-footer></app-footer>

  </div>
  <!-- Content wrapper scroll end -->
  </div>