<!-- Sidebar wrapper start -->
<nav class="sidebar-wrapper">
  <!-- Default sidebar wrapper start -->
  <div class="default-sidebar-wrapper">
    <!-- Sidebar brand starts -->
    <div class="default-sidebar-brand">
      <a class="logo">
        <img src="../../../assets/img/logo.png" alt="logo" />
      </a>
    </div>
    <!-- Sidebar brand starts -->

    <!-- Sidebar menu starts -->
    <div class="defaultSidebarMenuScroll">
      <div class="default-sidebar-menu">
        <ul>
          <li class="default-sidebar active">
            <a routerLink="/home" routerLinkActive="active">
              <i class="icon-home2"></i>
              <span class="menu-text">Dashboards</span>
            </a>
          </li>

          <li class="default-sidebar-dropdown" [ngClass]="{'active': menuHidden }">
            <a (click)="toggleMenu()">
              <i class="icon-calendar1"></i>
              <span class="menu-text">Lead Management</span>
            </a>
            <div class="default-sidebar-submenu" [ngStyle]="{'display': menuHidden ? 'block' : 'none' }">
              <ul>
                <li>
                  <a routerLink="/leads">Leads</a>
                </li>
                <li>
                  <a routerLink="/import-lead">Import Leads</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- <li class="default-sidebar-dropdown" [ngClass]="{'active': menuHiddenContact }">
            <a (click)="toggleMenuContact()">
              <i class="icon-user1"></i>
              <span class="menu-text">Contacts</span>
            </a>
            <div class="default-sidebar-submenu" [ngStyle]="{'display': menuHiddenContact ? 'block' : 'none' }">
              <ul>
                <li>
                  <a routerLink="/contacts">List Contact</a>
                </li>
              </ul>
            </div>
          </li> -->


          <li class="default-sidebar-dropdown" [ngClass]="{'active': marketingMenuHidden }">
            <a (click)="toggleMarketingMenu()">
              <i class="icon-shopping-basket"></i>
              <span class="menu-text">Marketing</span>
            </a>
            <ul>
              <li>
                <div class="default-sidebar-submenu" [ngStyle]="{'display': marketingMenuHidden ? 'block' : 'none' }">
                  <a routerLink="/marketingdashbord">
                    <span class="menu-text"> Marketing Dashbord </span>
                  </a>
                </div>
              </li>
              <div class="default-sidebar-submenu" [ngStyle]="{'display': marketingMenuHidden ? 'block' : 'none' }">
                <a routerLink="/calender">
                  <span class="menu-text">Calendar </span>
                </a>
              </div>
              <div class="default-sidebar-dropdown" [ngStyle]="{'display': marketingMenuHidden ? 'block' : 'none' }">
                <a (click)="togglePostMenu()">
                  <span class="menu-text">Organic Contents</span>
                </a>
                <div class="default-sidebar-submenu" [ngStyle]="{'display': postMenuHidden ? 'block' : 'none' }">
                  <ul>
                    <li>
                      <a routerLink="/organic">Organic Contents</a>
                    </li>
                    <li>
                      <a routerLink="/organicpost">Add Contents </a>
                    </li>
                    <li>
                      <a routerLink="/list-post">List Contents</a>
                    </li>
                  </ul>
                </div>

              </div>

              <div class="default-sidebar-dropdown" [ngStyle]="{'display': marketingMenuHidden ? 'block' : 'none' }">
                <a (click)="toggleCampaignMenu()">
                  <span class="menu-text">Campaigns</span>
                </a>
                <div class="default-sidebar-submenu" [ngStyle]="{'display': campaignMenuHidden ? 'block' : 'none' }">
                  <ul>
                    <li>
                      <a routerLink="/campaign">Campaign </a>
                    </li>
                    <li>
                      <a routerLink="/add-campaigns">Add Campaign </a>
                    </li>
                    <li>
                      <a routerLink="/list-campains">List Campaigns</a>
                    </li>
                  </ul>
                </div>

              </div>
            </ul>


          <li class="default-sidebar-dropdown" [ngClass]="{'active': settingsMenuHidden }">
            <a (click)="toggleSettingsMenu()">
              <i class="icon-calendar1"></i>
              <span class="menu-text">Settings</span>
            </a>
            <div class="default-sidebar-submenu" [ngStyle]="{'display': settingsMenuHidden ? 'block' : 'none' }">
              <ul>
                <li>
                  <a routerLink="/account-settings">Account Settings</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar menu ends -->
  </div>
  <!-- Default sidebar wrapper end -->
</nav>
<!-- Sidebar wrapper end -->