<!-- Sidebar wrapper start -->
<nav class="sidebar-wrapper">
  <!-- Default sidebar wrapper start -->
  <div class="default-sidebar-wrapper">
    <!-- Sidebar brand starts -->
    <div class="default-sidebar-brand">
      <a class="logo">
        <img src="../../../assets/img/logo.png" alt="logo" />
      </a>
    </div>
    <!-- Sidebar brand starts -->

    <!-- Sidebar menu starts -->
    <div class="defaultSidebarMenuScroll">
      <div class="default-sidebar-menu">
        <ul>
          <li class="default-sidebar active">
            <a routerLink="/home" routerLinkActive="active">
              <i class="icon-home2"></i>
              <span class="menu-text">Dashboards</span>
            </a>
          </li>
          <li class="default-sidebar-dropdown" [ngClass]="{'active': settingsMenuHidden }">
            <a (click)="toggleSettingsMenu()">
              <i class="icon-calendar1"></i>
              <span class="menu-text">Settings</span>
            </a>
            <div class="default-sidebar-submenu" [ngStyle]="{'display': settingsMenuHidden ? 'block' : 'none' }">
              <ul>
                <li>
                  <a routerLink="/account-settings">Account Settings</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="default-sidebar-dropdown" [ngClass]="{'active': menuHidden }">
            <a (click)="toggleMenu()">
              <i class="icon-calendar1"></i>
              <span class="menu-text">Lead Management</span>
            </a>
            <div class="default-sidebar-submenu" [ngStyle]="{'display': menuHidden ? 'block' : 'none' }">
              <ul>
                <li>
                  <a routerLink="/leads">Leads</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar menu ends -->
  </div>
  <!-- Default sidebar wrapper end -->
</nav>
<!-- Sidebar wrapper end -->
