<!-- *************
				************ Main container start *************
			************* -->
<div class="main-container">
  <app-topbar></app-topbar>


  <!-- Content wrapper scroll start -->
  <div class="content-wrapper">
    <!-- Row start -->
    <div class="row gutters">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="stats-tile">
          <div class="sale-icon">
            <i class="icon-package"></i>
          </div>
          <div class="sale-details">
            <h2>05</h2>
            <p>Subscriptions</p>
            <h5>
              <span class="high"><i class="icon-trending-up"></i> 2.2%</span> since last week
            </h5>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="stats-tile">
          <div class="sale-icon">
            <i class="icon-shopping-bag1"></i>
          </div>
          <div class="sale-details">
            <h2>05</h2>
            <p>User</p>
            <h5>
              <span class="high"><i class="icon-trending-up"></i> 2.5%</span> since last week
            </h5>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
        <div class="stats-tile">
          <div class="sale-icon">
            <i class="icon-briefcase"></i>
          </div>
          <div class="sale-details">
            <h2>05</h2>
            <p>Agencies</p>
            <h5>
              <span class="high"><i class="icon-trending-up"></i> 5.7%</span> since last week
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- Row end -->
    <!-- Row start -->
    <div class="row gutters">   
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card h-320">
          <div class="card-header">
            <div class="card-title">Agency Package Subscriptions Info</div>
          </div>
          <div class="card-body">
            <ul class="tickets-container">
              <li>
                <img src="../../assets/img/svg/box.svg" class="avatar" alt="Avatar" />
                <div class="ticket-details">
                  <h6>IBM - Premium - Monthly</h6>
                  <span class="ticket-time">Sep 19, 2022, 3:16:58 PM	</span>
                </div>
                <div class="ticket-status">
                  <span class="badge bg-success">UPDATED</span>
                </div>
              </li>
              <li>
                <img src="../../assets/img/svg/box.svg" class="avatar" alt="Avatar" />
                <div class="ticket-details">
                  <h6>Apstrix - Gold - sample</h6>
                  <span class="ticket-time">Sep 20, 2022	- 12:45 PM</span>
                </div>
                <div class="ticket-status">
                  <span class="badge bg-danger">EXPRING</span>
                </div>
              </li>
              <li>
                <img src="../../assets/img/svg/box.svg" class="avatar" alt="Avatar" />
                <div class="ticket-details">
                  <h6>Apstrix - Silver - Yearly </h6>
                  <span class="ticket-time">Sep 19, 2022, 3:49:57 PM	</span>
                </div>
                <div class="ticket-status">
                  <span class="badge bg-info">UPDATED</span>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card h-320">
          <div class="card-header">
            <div class="card-title">Quick Links</div>
          </div>
          <div class="card-body">
            
          </div>
        </div>
      </div>
      <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card h-320">
          <div class="card-header">
            <div class="card-title">Todo's</div>
          </div>
          <div class="card-body">
            <div class="todo-container">
              <ul class="todo-body">
                <li class="todo-list">
                  <div class="todo-info">
                    <span class="dot blue"></span>
                    <p>Team Meeting</p>
                    <p class="dt">@ 9:30 AM</p>
                  </div>
                </li>

                <li class="todo-list">
                  <div class="todo-info">
                    <span class="dot yellow"></span>
                    <p>Product Launch</p>
                    <p class="dt">@ 12:30 PM</p>
                  </div>
                </li>
                <li class="todo-list">
                  <div class="todo-info">
                    <span class="dot blue"></span>
                    <p>Team Meeting</p>
                    <p class="dt">@ 2:30 PM</p>
                  </div>
                </li>
                <li class="todo-list done">
                  <div class="todo-info">
                    <span class="dot green"></span>
                    <p>Code Review</p>
                    <p class="dt">@ 5:00PM</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Quick Links</div>
          </div>
          <div class="card-body">
            <div class="customScroll250">
              <ul class="recent-orders">
                <li>
                  <div class="order-img">
                    <img src="../../assets/img/svg/box.svg" alt="Food" />
                    <span class="badge bg-primary">Delivered</span>
                  </div>
                  <div class="order-details">
                    <h5 class="order-title">Cake</h5>
                    <p class="order-desc">Wedding cake with macarons.</p>
                    <span class="order-date">21 mins ago</span>
                  </div>
                </li>
                <li>
                  <div class="order-img">
                    <img src="../../assets/img/svg/box.svg" alt="Food" />
                    <span class="badge bg-warning">Processing</span>
                  </div>
                  <div class="order-details">
                    <h5 class="order-title">Pasta</h5>
                    <p class="order-desc">Cheese pasta with berries</p>
                    <span class="order-date">10 mins ago</span>
                  </div>
                </li>
                <li>
                  <div class="order-img">
                    <img src="../../assets/img/svg/box.svg" alt="Food" />
                    <span class="badge bg-danger">On Hold</span>
                  </div>
                  <div class="order-details">
                    <h5 class="order-title">Stacker</h5>
                    <p class="order-desc">Creamy stacker with pie</p>
                    <span class="order-date">32 mins ago</span>
                  </div>
                </li>
                <li>
                  <div class="order-img">
                    <img src="../../assets/img/svg/box.svg" alt="Food" />
                    <span class="badge bg-primary">Delivered</span>
                  </div>
                  <div class="order-details">
                    <h5 class="order-title">Spaghetti</h5>
                    <p class="order-desc">Cheese spaghetti with almonds</p>
                    <span class="order-date">17 mins ago</span>
                  </div>
                </li>
                <li>
                  <div class="order-img">
                    <img src="../../assets/img/svg/box.svg" alt="Food" />
                    <span class="badge bg-danger">On Hold</span>
                  </div>
                  <div class="order-details">
                    <h5 class="order-title">Barbeque</h5>
                    <p class="order-desc">Guilt Free BBQ chicken</p>
                    <span class="order-date">12 mins ago</span>
                  </div>
                </li>
                <li>
                  <div class="order-img">
                    <img src="../../assets/img/svg/box.svg" alt="Food" />
                    <span class="badge bg-warning">Processing</span>
                  </div>
                  <div class="order-details">
                    <h5 class="order-title">Pecan</h5>
                    <p class="order-desc">Homemade pecan with olives</p>
                    <span class="order-date">15 mins ago</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
     
    </div>
    <!-- Row end -->

    <!-- Row start -->
    <div class="row gutters">
     
      
    </div>
    <!-- Row end -->

    <app-footer></app-footer>

  </div>
  <!-- Content wrapper scroll end -->
</div>
<!-- *************
				************ Main container end *************
			************* -->
