<!--  Main container start  -->
<div class="main-container">

    <app-topbar></app-topbar>

    <!-- Content wrapper scroll start -->
    <div class="content-wrapper-scroll">

        <!-- Content wrapper start -->
        <div class="content-wrapper view-lead">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                    <figure class="user-card">
                        <div class="d-flex justify-content-end">
                            <div class="custom-btn-group">
                            </div>
                        </div>
                        <figcaption>
                            <img src="{{ImageProp}}" alt="Le Meilleur Admin" class="profile">
                            <ul class="list-group">
                                <li><span>{{leadDetails.firstName}} </span>{{leadDetails.lastName}}</li>
                                <li>{{leadDetails.title}}</li>
                                <li>{{leadDetails.email}}</li>
                                <li>Lead</li>
                                <li>
                                    <ul class="statistics">
                                        <li>
                                            <span class="stat-icon" data-bs-toggle="modal"
                                                data-bs-target="#editContact">
                                                <a href="tel:leadDetails.primaryNumber"><i class="icon-phone"></i></a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="stat-icon">
                                                <a href="tel:leadDetails.primaryNumber">
                                                    <i class="icon-message"></i>
                                                </a>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="stat-icon">
                                                <a href="mailto:leadDetails.email">
                                                    <i class="icon-mail"></i>
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Activities</div>
                        </div>
                        <div class="card-body">
                            <div class="customScroll250">
                                <div class="timeline-activity">
                                    <ng-container *ngFor="let activity of activityList">
                                        <div class="activity-log">
                                            <p class="log-name">{{activity.comment}}</p>
                                            <div class="log-details">
                                                {{activity.contact_mode}}
                                                <span class="text-success ml-1"> # {{activity.createdAt |
                                                    date:'yyyy-MM-dd @
                                                    h:mma'}}</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                    <div class="account-settings-block">
                        <!-- <div class="settings-block"> -->
                        <figure class="user-card">
                            <div class="usersContainerScroll">
                                <div class="container task-header" style="text-align: center;">
                                    <h4 class="contact-head">Contact Details </h4>
                                    <div style="display:flex;justify-content: center; ">
                                        <p>{{leadDetails.firstName}}</p>
                                        <p class="ms-2">{{leadDetails.lastName}}</p>
                                    </div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                                        <a class="btn btn-outline-primary btn-sm" (click)="addContact()">New Contact</a>
                                        <a class="btn btn-outline-success btn-sm"
                                            [routerLink]="['/contacts', leadDetails.id]">Contacts</a>
                                        <a class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                                            data-bs-target="#ActivityModal">Activity</a>
                                        <!-- <a class="btn btn-outline-primary btn-sm"  
                                            [routerLink]="['/appoinments', leadDetails.id]">Appoinments</a>
                                        <a class="btn btn-outline-primary btn-sm mt-2"
                                            data-bs-toggle="modal" data-bs-target="#addAppoinmentModal">Add Appoinments</a> -->

                                    </div>
                                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                                        <div class="form-section-header">General</div>
                                    </div>

                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.firstName}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">First Name </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.middleName}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Middle Name </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.lastName}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Last Name </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.title}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Title </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.primaryNumber}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Phone </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.secondaryNumber}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Mobile </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.whatsappNumber}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">whatsapp Number </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.email}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Email </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.leadSource}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Lead Source </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.leadStatus}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Lead Status </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.leadScore}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Lead Score </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadDetails.leadValue}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Lead Value </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                                        <div class="form-section-header">Address Information</div>
                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadAddressDetails.address}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Address </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadAddressDetails.city}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">City </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadAddressDetails.state}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">State </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadAddressDetails.zip}}" type="text"
                                                    class="form-control-details" >
                                            </div>
                                            <div class="field-placeholder">Postel Code </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadAddressDetails.country}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Country </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                                        <div class="form-section-header">Social Media</div>
                                    </div>

                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadSocialDetails.facebook}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Facebook </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadSocialDetails.website}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">website </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadSocialDetails.linkedin}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Linked In </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                        <!-- Field wrapper start -->
                                        <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadSocialDetails.background_info}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Background info </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12">
                                        <div class="form-section-header">Company Details</div>
                                    </div>

                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                       <!-- Field wrapper start -->
                                       <div class="field-wrapper">
                                        <div class="input-group">
                                            <input value="{{leadCompanyDetails?leadCompanyDetails.name:''}}" type="text"
                                                class="form-control-details" readonly>
                                        </div>
                                        <div class="field-placeholder">Company Name </div>
                                    </div>
                                    <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                         <!-- Field wrapper start -->
                                         <div class="field-wrapper">
                                            <div class="input-group">
                                                <input value="{{leadCompanyDetails?leadCompanyDetails.designation:''}}" type="text"
                                                    class="form-control-details" readonly>
                                            </div>
                                            <div class="field-placeholder">Designation </div>
                                        </div>
                                        <!-- Field wrapper end -->

                                    </div>
                                    <div class="col-xl-10 col-lg-11 col-md-11 col-sm-11 col-11 ms-3">

                                       <!-- Field wrapper start -->
                                       <div class="field-wrapper">
                                        <div class="input-group">
                                            <input value="{{leadCompanyDetails?leadCompanyDetails.indName:''}}" type="text"
                                                class="form-control-details" readonly>
                                        </div>
                                        <div class="field-placeholder">Industry </div>
                                    </div>
                                    <!-- Field wrapper end -->

                                    </div>
                                   
                                </div>
                            </div>

                            <!-- </div> -->

                        </figure>
                    </div>
                </div>
                <div class="clear"></div>

            </div>
            <!-- Content wrapper end -->

            <app-footer></app-footer>

        </div>
        <!-- Content wrapper scroll end -->

    </div>
</div>
<!--  Main container end  -->

<!-- Modal start to display add user popup-->
<!-- <div class="modal fade" #content id="leadAddisnModal" tabindex="-1" aria-labelledby="leadAddisnModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leadAddisnModalLabel"> Lead Assignment </h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form class="form-horizontal" [formGroup]="leadAssignForm" (ngSubmit)="leadAssignedTo()">
                <div class="modal-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <div class="field-wrapper">
                                <div class="input-group">

                                    <select
                                        [ngClass]="{'is-invalid': f['assigned_to'].touched && f['assigned_to'].invalid}"
                                        class="form-control" name="userId" formControlName="assigned_to">
                                        <option value="">Users</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>

                                    </select>
                                </div>
                                <p *ngIf="f['assigned_to'].touched && f['assigned_to'].invalid"
                                    class="small text-danger font-italic">*User is required.</p>
                                <div class="field-placeholder">User</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="exampleSelect">
                    <button class="btn btn-primary" [disabled]="leadAssignForm.invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<!-- Modal end -->

<!-- Modal start to display add user popup-->
<div class="modal fade" #content id="ActivityModal" tabindex="-1" aria-labelledby="ActivityModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ActivityModalLabel">Activity</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" id="activityModelClose"
                    aria-label="Close"></button>
            </div>
            <form class="form-horizontal" [formGroup]="activityForm" (ngSubmit)="createActivity()">
                <div class="modal-body">
                    <div class="row gutters">

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

                            <div class="field-wrapper">
                                <div class="input-group">

                                    <select
                                        [ngClass]="{'is-invalid': log['contact_mode'].touched && log['contact_mode'].invalid}"
                                        class="form-control" name="Contact_mode" formControlName="contact_mode">
                                        <!-- <option value="">Select</option> -->
                                        <option value="email">Email</option>
                                        <option value="contact">Contact</option>

                                    </select>
                                </div>
                                <p *ngIf="log['contact_mode'].touched && log['contact_mode'].invalid"
                                    class="small text-danger font-italic">*Mode of contact is required.</p>
                                <div class="field-placeholder">Mode of Contact</div>
                            </div>
                        </div>


                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="field-wrapper-text-area">
                                <div class="input-groups-text-area">
                                    <textarea
                                        [ngClass]="{'is-invalid': log['comment'].touched && log['comment'].invalid}"
                                        class="form-control rounded-0" name="Comment" formControlName="comment">
                                       </textarea>
                                </div>
                                <p *ngIf="log['comment'].touched && log['comment'].invalid"
                                    class="small text-danger font-italic">*User is required.</p>
                                <div class="field-placeholder">Comment</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="exampleSelect">
                    <button class="btn btn-primary" [disabled]="activityForm.invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal end -->
<!-- Confirmation box start -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Are you sure to delete this?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
    </div>
</ng-template>
<!-- Confirmation box end -->

  <!-- Modal start to display add appoinment popup  -->
  <div class="modal fade" id="addAppoinmentModal" tabindex="-1" aria-labelledby="AddAppoinmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="AddAppoinmentModalLabel">Create Appoinment</h5>
              <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <form class="form-horizondal" [formGroup]="addAppoinmentForm" (ngSubmit)="addAppoinment()">
              <div class="modal-body">
                  <div class="row gutters">
                      
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="field-wrapper">
                              <div class="input-group">
                                  <input 
                                  type="text" 
                                  name="comment" 
                                  formControlName="comment"
                                  >
                              </div>
                              <!-- <p *ngIf="f['comment'].touched && f['comment'].invalid" class="small text-danger font-italic">
                                  * Comment is required
                              </p> -->
                              <div class="field-placeholder">Comment</div>
                          </div>
                      </div>

                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="field-wrapper">
                              <div class="input-group">
                                  <input 
                                  type="text" 
                                  name="meet_link" 
                                  formControlName="meet_link"
                                  [ngClass]="{'is-invalid':f['meet_link'].touched && f['meet_link'].invalid}"
                                  >
                              </div>
                              <p *ngIf="f['meet_link'].touched && f['meet_link'].invalid" class="small text-danger font-italic">
                                  * Meet Link is required
                              </p>
                              <div class="field-placeholder">meet_link<span class="text-danger">*</span></div>
                          </div>
                      </div>

                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="field-wrapper">
                              <div class="input-group">
                                  <input 
                                  type="text" 
                                  name="status" 
                                  formControlName="status"
                                  [ngClass]="{'is-invalid':f['status'].touched && f['status'].invalid}"
                                  >
                              </div>
                              <p *ngIf="f['status'].touched && f['status'].invalid" class="small text-danger font-italic">
                                  * Status is required
                              </p>
                              <div class="field-placeholder">Status<span class="text-danger">*</span></div>
                          </div>
                      </div>

                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="field-wrapper">
                              <div class="input-group">
                                  <input 
                                  type="text" 
                                  name="date" 
                                  formControlName="date"
                                  [ngClass]="{'is-invalid':f['date'].touched && f['date'].invalid}"
                                  >
                              </div>
                              <p *ngIf="f['date'].touched && f['date'].invalid" class="small text-danger font-italic">
                                  *Date is required
                              </p>
                              <div class="field-placeholder">Date<span class="text-danger">*</span></div>
                          </div>
                      </div>

                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="field-wrapper">
                              <div class="input-group">
                                  <input 
                                  type="text" 
                                  name="time" 
                                  formControlName="time"
                                  [ngClass]="{'is-invalid':f['time'].touched && f['time'].invalid}"
                                  >
                              </div>
                              <p *ngIf="f['time'].touched && f['time'].invalid" class="small text-danger font-italic">
                                  * Time is required
                              </p>
                              <div class="field-placeholder">Time<span class="text-danger">*</span></div>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" [disabled]="addAppoinmentForm.invalid" >Save</button>
            </div>
          </form>
         
      </div>
    </div>
</div>
<!-- Modal end -->